# streamlit
# transformers==4.12.0
# PyPDF2
# gTTS
# torch
langchain==0.1.4
langchain_community==0.0.16
langchain_core==0.1.17
# langchain_openai==0.0.5
python-dotenv==1.0.1
streamlit==1.36.0
chromadb==0.3.29
beautifulsoup4==4.12.2
groq
langchain-groq
sentence-transformers==2.2.2
InstructorEmbedding
# tiktoken==0.4.0
huggingface_hub==0.21.4